<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script>
    let user = null;
    if (localStorage.getItem("token")) {
        user = jwt_decode(localStorage.getItem("token")); // Розбираємо токен
        console.log(decoded); // Вивід у консоль
    } else {
        console.log("Токен не знайдено");
    }
</script>

<header class="bg-[#65ad8a] bg-opacity-90 shadow-md">
    <div class="mx-auto flex items-center justify-between p-4">
        <a href="/" class="text-white text-2xl font-bold">Work with server</a>

        <nav class="hidden md:flex space-x-6">
            <a href="/" class="flex items-center text-white hover:text-gray-200 transition">Main</a>
            <div id="nav-user"></div> <!-- Контейнер для вставки елементів -->
        </nav>

        <button class="md:hidden text-white text-2xl">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>

<script>
    const userNav = document.getElementById("nav-user");

    if (typeof user !== "undefined" && user) {
        userNav.innerHTML = `
            <a href="/user/profile.html" class="flex items-center space-x-2 text-white hover:text-gray-200 transition">
                <img src="https://goose.itstep.click/images/50_${user.image}" width="50" class="rounded-full"/>
                <span>${user.name}</span>
            </a>
        `;
    } else {
        userNav.innerHTML = `
            <a href="/login.html" class="text-white hover:text-gray-200 transition">Login</a>
        `;
    }
</script>

