<header class="bg-[#65ad8a] bg-opacity-90 shadow-md">
    <div class="mx-auto flex items-center justify-between p-4">
        <a href="/" class="text-white text-2xl font-bold">Work with server</a>
        <nav class="hidden md:flex space-x-6">
            <a href="/" class="text-white hover:text-gray-200 transition">Main</a>
            <a href="/user/profile.html" class="text-white hover:text-gray-200 transition">Profile</a>
            <a href="/login.html" class="text-white hover:text-gray-200 transition">Login</a>
        </nav>
        <button class="md:hidden text-white text-2xl">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>