
.my-container {
    margin-left:35%;
    margin-right:35%;
}

.error{
    color:red;
}


.login{
    margin-top:10%;
}

.account-image {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1400px) {
    .password {
        width: 180px;
    }
}

@media only screen and (max-width: 1200px) {
    .my-container {
        margin-left: 30%;
        margin-right: 30%;
    }
    .password {
        width: 150px;
    }
}

@media only screen and (max-width: 992px) {
    .my-container {
        margin-left: 20%;
        margin-right: 20%;
    }
    .password {
        width: 120px;
    }
}
div[style*="height: 65px;"] {
    display: none;
}

div[style*="opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;"] {
    display: none !important;
}

center {
    display: none !important;
}
